<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

</head>
<body>
    ${nav} 
    <div class="container">
        <h1 class="mt-4 mb-3">Profile Page
            <small>Your Sixpacks</small>
        </h1>
    
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">${user.username} Profile Page</li>
        </ol>
        <div class="row profile">
            <div class="col-3 l-box">
                <h2>User Info</h2>
                <h3>${user.username}</h3>
            </div>
            <div class="col-6 ">
                <h2>Your Sixpacks</h2>
                <div class="row flex-wrap">
                    ${user.SixPacks.map(sixpack => {
                      return `
                    <div class="col-lg-4 col-sm-6 portfolio-item">
                      <div class="card h-100">
                        <div class="d-flex flex-wrap justify-content-center">
                          ${sixpack.Beers.map(beer => {
                            return `
                            <img class="card-img-top beerz" src="${beer.image}" alt="">
                            `
                          }).join('')}
                        </div>
                        <div class="card-body text-center">
                          <h4 class="card-title">
                            ${sixpack.name}
                          </h4>
                          <p class="card-text ">${sixpack.description}</p>
                        </div>
                      </div>
                    </div>
                    `
                  }).join('')}
                </div>
                
            </div>            
        </div>
    </div>

<!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Beer:30™ LLC 2021</p>
        </div>
  </footer>
     <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>