<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Registration</h2>
     <form method="POST" action="/users/register"> 
    <p>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
        <!-- <ul class="helper-text">
          <li class="length">Must be at least 8 characters long</li>
          <li class="lowercase">Must contain a lowercase letter</li>
          <li class="uppercase">Must contain an uppercase letter</li>
          <li class="special">Must contain a number or special character</li>
        </ul> -->
    </p>
    <button type="submit">Register Account</button>
    </form>
    <h1>Error</h1>
    ${error}
</body>
</html>