<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/modern-business.css" rel="stylesheet">
  </head>
<body>
    ${nav}
    <h2>Registration</h2>
    <div>
     <form method="POST" action="/users/register"> 
    <p>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
        <!-- <ul class="helper-text">
          <li class="length">Must be at least 8 characters long</li>
          <li class="lowercase">Must contain a lowercase letter</li>
          <li class="uppercase">Must contain an uppercase letter</li>
          <li class="special">Must contain a number or special character</li>
        </ul> -->
    </p>
    <button style="margin:10px" class="btn btn-primary btn-lg" type="submit">Register Account</button>
    </form>
    <div class="error">
      ${error}  
    </div>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Beer:30™ LLC 2021</p>
      </div>
    </footer>
   
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>
</html>