<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

</head>

<body>

  ${nav}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Six Pack Maker
      <!-- <small>Six Pack Maker</small> -->
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Create Six Pack</li>
    </ol>

    <p>Want beers but not out of a pre made pack?  This is the spot to do it.  Click the beers you want on the right and add them to your six pack on the left.  Create a title and description for your six pack and view them on your profile page for easy access.</p>

      <div class="main-container"> 
        
        <div class="left-box">
          <div class="beer-pack"> 
            <div class="beer-1" ></div>
            <div class="beer-2"></div>
            <div class="beer-3"></div>
            <div class="beer-4"></div>
            <div class="beer-5"></div>
            <div class="beer-6"></div>
          </div>
        </div>
        <div class="right-box overflow-auto">

        </div>

        <div class="bottom-box">
          <form id="submit-form">
            <div class="form-group">
              <label for="exampleFormControlInput1">Title</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
          </form>
        </div>
          
      </div>
    
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Beer:30™ LLC 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../six_maker.js"></script>

</body>

</html>
